<div>
  <h2> My recipes</h2>
  <% current_user.recipes.each do |recipe| %> 
    <h3> <%= recipe.name %> </h3>
    <%= button_to "Delete", user_recipe_path(current_user.id, recipe), method: :delete, 
                data: {confirm: 'Are you sure that you want to delete this recipe?'} %>
    <%= link_to 'See this recipe', user_recipe_path( recipe.user.id, recipe.id  )%>
    <p><%= recipe.description %></p>
  <% end %>
</div>


